
    /* THISHERE*/

/* Testing some basic elements in diff viewports + in default mobile view (mobile first) */

.flex-container {
    display: flex;
    background-color: DodgerBlue;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
  .flex-container > div {
    background-color: #f1f1f1; /*  */
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  /* .sidebar {
    display: none;
  } */
/* simple static @3C sidenav */
  .sidenav{
    display: none;
  }
/* Testing some basic elements in diff viewports + in default mobile view (mobile first) */

/*##########################*/
/* show current MQ setting */
  .MQ_viewport::after {
    content: "XS devices < 576, default, no MQ";
  }
.MQ_viewport {
  text-align: right;
}
.MQ_viewport {
  background-color: lightblue;
}
/* show current MQ setting */
/*########################*/

/*####################################################################################################################*/
/*############################################### Image Persona ######################################################*/


.Persona {

     /*#########################*/
    /*  hide image in this MQ  */
    .Persona {
      display: none;
    }
     /* hide image in this MQ  */
    /*########################*/

}

/*############################################### Image Persona ######################################################*/
/*####################################################################################################################*/

/*####################################################################################################################*/
/*################################################ Banner Image ######################################################*/

  .banner_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  /* width: 100%; */
  background-image: url('../pics/Photo of a Brown Textile.jpg'); /* Multicolored Sparkles2.jpg */
  
  /* A Rough Surface with Circles.jpg FAV MNM ZAMEER.jpg*/
  /* FAV FAV Blue and Purple Gradient Background.jpg */
  /* 1 Pink Toy Car on Pink Background.jpg  */
  /* Photo of a Brown Textile.jpg */
  /* fav Purple and Pink Human Illustration.jpg */
  /* FAV Purple and White Abstract Painting.jpg */


  /* Person Encoding in Laptop.jpg Orange Graphics Design.jpg Multicolored Sparkles.jpg FAV Underwater.jpg*/
  /* FAV Purple and Pink Diamond on Blue Background.jpg FAV Purple and White Light Illustration.jpg*/
  /* FAV Colorful Cubes And Puzzle Piece.jpg Green and White Striped Illustration.jpg Grayscale Abstract Art.jpg*/
  /* Red Moon during Night Time.jpg  shoes Photo of Gray Sneakers2.jpg Multi Colored Paper.jpg*/
  /* Geometric Pattern On Chameleon Color.jpg */
  /* background-color: purple; */
  /* height: 380px; */
    background-position: center;
  background-size: cover;
  /* background-size: contain; */
  background-repeat: no-repeat
  /* overflow: hidden;
  background-overlow: hidden; */
  }

  .banner_img > div {
    /* background-color: #f1f1f1; */
    color: whitesmoke;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
  }
/*################################################ Banner Image ######################################################*/
/*####################################################################################################################*/

/*####################################################################################################################*/
/*#################################### HAMBURGER & NAVBAR ############################################################*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  /* background is white by default but added for clarity */
  background: white;
  width: 100%;
}

.hamburger, .close {
  border: none;
  cursor: pointer;
  /* position absolute position the icons relative to the body because they have no position relative parents*/
  position: absolute;
  top: 20px;
  right: 20px;
  width: 36px;
  height: 36px;
}

.hamburger {
  background: white;
}

.close {
  background: #111111;
}

.hamburger img, .close img {
  width: 100%;
  height: 100%;
}

.navbar {
  position: absolute;
  /* a higher z-index put navbar above hamburger */
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* basic menu styling*/
  list-style: none;
  background: #111111;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  /* animate slide up/down */
  transform: translateY(-100%);
  transition: transform 0.2s ease;
}

/* :target is called when its anchor id #navbar is called by clicking on the hamburger which has href="#navbar" */

.navbar:target {
  /* show navbar */
  transform: translateY(0);
}

li a {
  display: block;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  /* remove default underline and add our own with padding and border bottom */
  text-decoration: none;
  border-bottom: 1px solid #111111;
  padding-bottom: 0.5rem;
}

li a:hover, li a:focus {
  /* show border bottom */
  border-bottom: 1px solid white;
}
/*#################################### HAMBURGER & NAVBAR ############################################################*/
/*####################################################################################################################*/


/*####################################################################################################################*/
/*############################################### MEDIA QUERIES ######################################################*/
/*###################### XS devices < 575, default, no MQ #######################*/

/*#########################################################################*/
/*########### Small devices 576px - 767px width ##########################*/

@media screen and (min-width: 576px) {
    body {
      background-color: blue;
    }
    .flex-container {
        display: flex;
        background-color: DodgerBlue;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    /*##########################*/
    /* show current MQ setting */
    .MQ_viewport::after {
      content: "Small devices 576px - 767px width";
    }
    /* show current MQ setting */
    /*########################*/


      /*#########################*/
     /*  hide image in this MQ  */
      .Persona {
         display: none;
      }
      /* hide image in this MQ  */
     /*########################*/

  }
/*############################# Small devices ##############################*/
/*#########################################################################*/
/*################ Medium devices 768px - 991px width ####################*/

  @media screen and (min-width: 768px) {
    body {
      background-color: green;
    }
    .flex-container {
        display: flex;
        background-color: DodgerBlue;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .navbar {
      display: none;
    }
    .hamburger {
      display: none;
    }

    .sidenav{
      display:block;
    }

          /* <!--###########################--> */
      /* <!-- W3C Fixed Sidenav SIDEnav --> */

      .sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
      }

      .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
      }

      .sidenav a:hover {
        color: #f1f1f1;
      }

      .main {
        margin-left: 160px; /* Same as the width of the sidenav */
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 0px 10px;
      }

      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }

      /* <!-- W3C Fixed Sidenav SIDEnav --> */
      /* <!--###########################--> */

    /*##########################*/
    /* show current MQ setting */
    .MQ_viewport::after {
      content: "Medium devices 768px - 991px width";
    }
    /* show current MQ setting */
    /*########################*/

      
      /*##########################*/
      /* set up image in this MQ */
      .Persona {
        display: block;
        background-image: url('../img/profile-artists-sketch 48 - smaller.png');
        height: calc(100vh - 200px);
        width: calc(100vh - 200px);
        border-radius: 50%;
        background-color: black;
        border: 1px solid white;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        justify-content: center;
      } 
      /* set up image in this MQ */
      /*########################*/
  }
/*############################# Medium devices #############################*/
/*#########################################################################*/
/*###################### Large 992px - 1199px width ######################*/
  @media screen and (min-width: 992px) {
    body {
      background-color: yellow;
    }
    .flex-container {
        display: flex;
        background-color: DodgerBlue;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .navbar {
      display: none;
    }
    .hamburger {
      display: none;
    }
    .sidenav{
      display:block;
    }
      /* <!--###########################--> */
      /* <!-- W3C Fixed Sidenav SIDEnav --> */

      .sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
      }

      .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
      }

      .sidenav a:hover {
        color: #f1f1f1;
      }

      .main {
        margin-left: 160px; /* Same as the width of the sidenav */
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 0px 10px;
      }

      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }

      /* <!-- W3C Fixed Sidenav SIDEnav --> */
      /* <!--###########################--> */

      /*##########################*/
      /* show current MQ setting */
      .MQ_viewport::after {
        content: "Large 992px - 1199px width";
      }
      /* show current MQ setting */
      /*########################*/

      
      /*##########################*/
      /* set up image in this MQ */
      .Persona {
        display: block;
        background-image: url('../img/profile-artists-sketch 48 - smaller.png');
        height: calc(100vh - 200px);
        width: calc(100vh - 200px);
        border-radius: 50%;
        background-color: black;
        border: 1px solid white;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        justify-content: center;
      } 
      /* set up image in this MQ */
      /*########################*/
  }
/*############################# Large devices ################################*/
/*###########################################################################*/
/*################# Extra Large 1200px width and above #####################*/
  @media screen and (min-width: 1200px) {
    body {
      background-color: red;
    }
    .flex-container {
        display: flex;
        background-color: DodgerBlue;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    /* Most browsers will display the <article> element (user agent stylesheet) with the following default values: display:block; */ 
    /* article {
      display:block;
    } */
    .navbar {
      display: none;
    }
    .hamburger {
      display: none;
    }
    .sidenav{
      display:block;
    }
        /* <!--###########################--> */
      /* <!-- W3C Fixed Sidenav SIDEnav --> */

      .sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
      }

      .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
      }

      .sidenav a:hover {
        color: #f1f1f1;
      }

      .main {
        margin-left: 160px; /* Same as the width of the sidenav */
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 0px 10px;
      }

      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }

      /* <!-- W3C Fixed Sidenav SIDEnav --> */
      /* <!--###########################--> */

      /*##########################*/
      /* show current MQ setting */
      .MQ_viewport::after {
        content: "Extra Large 1200px width and above";
      }
      /* show current MQ setting */
      /*########################*/
      
      /*##########################*/
      /* set up image in this MQ */
      .Persona {
        display: block;
        background-image: url('../img/profile-artists-sketch 48 - smaller.png');
        height: calc(100vh - 200px);
        width: calc(100vh - 200px);
        border-radius: 50%;
        background-color: black;
        border: 1px solid white;
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        justify-content: center;
      } 
      /* set up image in this MQ */
      /*########################*/
  }
/*############################################### MEDIA QUERIES ######################################################*/
  /*####################################################################################################################*/


/* TEMP */

/*
            width: 150px;
            height: 150px;

            width:min-content;
            height: min-content;
            
            width: fit-content;
            height: fit-content;
          
            width:max-content;
            height: max-content;

            width: auto;
            height: auto;
*/

/* TEMP */